.rc-tree-node-selected {
  background-color: #edf2f7;
  box-shadow: 0 0 0 1px #edf2f7;
}

.rc-tree .rc-tree-treenode {
  display: flex;
  align-items: center;
}

.rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: var(--chakra-radii-md);
}

.drop-target {
  background-color: #e2e8f0 !important;
  box-shadow: 0 0 0 1px #edf2f7;
}

.drag-over {
  border-color: green;
}
